* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: white;
    color:  #5A6A85;
    border-bottom: solid 1px #e5eeef;
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 1rem;
}

.menu-wrap {
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
}

.nav-menu {
    margin-right: 2rem;
    
}


.content-wrap{

    display: flex;
    flex-direction: row;
    height: 100%;

}

.sidebar-wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
    background-color: white;
    border-right: solid 1px #e5eeef;
}

.side-menu-h{
    width: 100%;
    padding: 1rem;
    margin:0.2rem;
    font-size: large;
    font-weight: bolder;
}

.side-menu{
    color: #5A6A85;
    background-color: white;
    text-align: left;
    font-size: large;
    padding: 1rem;
    margin: 0.2rem;
    font-weight:400;
    border: none;
    border-radius: 10px;
}

.side-menu:hover{
    background-color: #ECF2FF;
    color: #7095FF;
}

.selected {
    background-color: #5D87FF;
    color: white;
}

.main-wrap{
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas-wrap {
    display:flex;
    flex-direction: row;
    
}

.canvas-container{
    margin: 0.25rem;
}